@model Database_semester_project.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_price)
        </dd>

        <dt>
            @Html.Raw("Customer")
        </dt>

        <dd>
            @Html.ActionLink(Model.Customers.Name, "../Customers/Details", new { id = Model.CustomerID })
        </dd>

        <dt>
            @Html.Raw("Product")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Name)
            @Html.Raw(" " + Model.Product_quantity + " Qty")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Complete", "Complete", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") 
</p>
