@model Database_semester_project.Models.Products

@{
    ViewBag.Title = "Details";
}
@if (TempData["errProduct_Details"] != null)
{
    @Html.Raw(TempData["errProduct_Details"])
}
<h2>Details</h2>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Raw("Production price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Production_price)
        </dd>

        <dt>
            @Html.Raw("Sell price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sell_price)
        </dd>

        <dt>
            @Html.Raw("Stored amount")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stored_amount)
        </dd>
        <dt>
            @Html.Raw("Ingredients")
        </dt>
        @if (Model.Products_Ingredients.Count > 0)
        {
            foreach (var ingredient in Model.Products_Ingredients)
            {
                <dd>
                    @Html.ActionLink(ingredient.IngredientName, "../Ingredients/Details", new { id = ingredient.IngredientID })
                    @Html.Raw(ingredient.Required_ingredient_amount)
                    @Html.ActionLink("Change amount", "EditIngredientQuantity", new { productID = Model.Id, ingredientID = ingredient.IngredientID })
                    @Html.ActionLink("Delete", "DeleteIngredientQuantity", new { productID = Model.Id, ingredientID = ingredient.IngredientID })
                </dd>
            }
        }
        else
        {
            <dd>
                @Html.Raw("No ingredients yet")
            </dd>
        }
        <dd>
            @if (Model.Products_Ingredients.Count() < new Database_semester_project.Models.FactoryEntities().Ingredients.Count())
            {
                @Html.ActionLink("Add new", "AddIngredient", new { Model.Id })
            }
        </dd>

        <dt>
            @Html.Raw("Created in tasks")
        </dt>
        @if (Model.Tasks.Count > 0)
        {
            foreach (var task in Model.Tasks)
            {
                if (!task.Finished)
                {
                    <dd>
                        @Html.ActionLink(task.Id.ToString(), "../Tasks/Details", new { id = task.Id })
                        @Html.ActionLink(" Complete", "../Tasks/Edit", new { id = task.Id })
                    </dd>
                }
            }
        }
        else
        {
            <dd>
                @Html.Raw("No tasks assigned")
            </dd>
        }
        <dd>
            @Html.ActionLink("Add new", "../Tasks/Create", new { productID = Model.Id })
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
