@model IEnumerable<Database_semester_project.Models.Products>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="width:100%;  font-weight:normal; border:solid; border-color:black;">
    <tr>
        <th style="border:solid 1px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="border:solid 1px">
            @Html.DisplayNameFor(model => model.Production_price)
        </th>
        <th style="border:solid 1px">
            @Html.DisplayNameFor(model => model.Sell_price)
        </th>
        <th style="border:solid 1px">
            @Html.DisplayNameFor(model => model.Stored_amount)
        </th>
        <th style="border:solid 1px"></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr style="border:solid 1px">
        <td style="border:solid 1px">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="border:solid 1px">
            @Html.DisplayFor(modelItem => item.Production_price)
        </td>
        <td style="border:solid 1px">
            @Html.DisplayFor(modelItem => item.Sell_price)
        </td>
        <td style="border:solid 1px">
            @Html.DisplayFor(modelItem => item.Stored_amount)
        </td>
        <td style="border:solid 1px">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
