@model Database_semester_project.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task @Model.Id</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Predicted work time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Predicted_work_time)
        </dd>

        <dt>
            @Html.Raw("Actual work time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actual_work_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finished)
        </dd>

        <dt>
            @Html.Raw("Producing")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.Name)
        </dd>
        <dt>
            @Html.Raw("Assigned employees")
        </dt>
        @if (Model.Employees.Count > 0)
        {
            foreach (var e in Model.Employees)
            {
                <dd>
                    @Html.ActionLink(e.First_name + " " + e.Last_name, "../Employees/Details", new { id = e.Id })
                </dd>
            }
        }
        else
        {
            <dd>
                @Html.Raw("No workers assigned")
            </dd>
        }
        @if (!Model.Finished)
        {
            <dd>
                @Html.ActionLink("Add new", "AssignEmployee", new { taskID = Model.Id })
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Complete", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
