@model Database_semester_project.Models.Employees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PESEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PESEL)
        </dd>
        <dt>
            @Html.Raw("Task")
        </dt>
        <dd>
           @if (Model.Tasks.Where(t => !t.Finished).Count() > 0)
           {
               int taskID = Model.Tasks.Where(t => !t.Finished).Select(t => t.Id).First();
               @Html.ActionLink(taskID.ToString(), "../Tasks/Details", new { id = taskID })
               @Html.Raw(" producing " + Model.Tasks.Where(t => t.Id == taskID).First().ProductName)
           }
           else
           {
               @Html.Raw("not assigned")
           }

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
